@mixin grid($columns , $rows) 
{
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}
@mixin flex($justify , $align) 
{
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
$bc: 'background-color';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif !important;
}


html{
    scroll-behavior: smooth;
}

#root{
    background: linear-gradient(to right , #C04848 , #480048);
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    @include flex(flex-start , center);
    flex-direction: column;
    transition: all 0.5s ease;
    &::-webkit-scrollbar{
        width: 10px;
    }&::-webkit-scrollbar-button{
        width: 0;
        height: 0;
    }&::-webkit-scrollbar-thumb{
        width: 100%;
        background-color: #9e9e9e;
    }
}

#header{
    @include flex(center , center);
    min-width: 80vw;
    width: auto;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.123);
    min-height: 80px;
    padding: 0 15px 0 15px;
    height: auto;
    font-size: 3rem;
    margin-top: 10px;
    color: white;
    span{
        text-align: center;
        margin: 5px;
        letter-spacing: 2px;
    }
    #header-svg-container{
        width: 50px;
        height: 50px;
        #header-svg{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

#nav{
    width: 70vw;
    min-height: 10vh;
    height: auto;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.123);
    margin-top: 2vh;
    @include flex(center , center);
}

#main{
    min-width: 95vw;
    width: auto;
    height: auto;
    margin: 15px 0 15px 0;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.123);
    @include flex(center , center);
    padding: 25px;

    #not-have{
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.411);
        height: 60vh;
        @include flex(center , center);
    }

    #memories-container{
        @include flex(space-around , flex-start);
        flex-wrap: wrap;
        padding: 2%;
        width: 95%;
        min-height: 60vh;
        height: auto;
        .memories{
            width: 28%;
            min-height: 400px;
            height: auto;
            #{$bc}: white;
            margin: 0 0 20px 0;
        }
    }
    #post-container{
        #{$bc}: rgba(255, 255, 255, 0.568);
        @include flex(center , center);
        padding: 20px;
        border-radius: 10px;
    }
}

@media (max-width: 400px)
{
    #header{
        font-size: 2rem;
    }
}